<nav class="row justify-content-between align-items-center">
	<a href="#"><img src="../../assets/eden-logo.png" alt="eden-logo"></a>
	<div>
		<button class="btn btn-danger" routerLink="/login">Logout</button>
	</div>
</nav>


<div class="residentList">
	<div class="form-group form-inline">
	    Full text search: <input [(ngModel)]="searchResident" class="form-control ml-2" type="text" />
	</div>

	<div class="newResBtn">
		<button class="btn btn-success" [routerLink]="['/new-resident']">Add New Resident</button>
	</div>

	<table class="table table-responsive-md table-hover">
		<thead>
			<tr class="thead-dark">
			    <th scope="col">#</th>
			    <th scope="col">Resident Name</th>
			    <th scope="col">Status</th>
			    <th scope="col">Caretaker</th>
			    <th scope="col">Room</th>
			    <th scope="col"></th>
		  	</tr>
		</thead>
		<tbody>
		  	<tr *ngFor="let resident of residents | filter : searchResident">
		  		<th>{{resident.id}}</th>
		    	<td>{{resident.name}}</td>
		    	<td [ngClass]="resident.status == 'Healthy' ? 'green': 'red'">{{resident.status}}</td>
		    	<td>{{resident.caretaker}}</td>
		    	<td>{{resident.room}}</td>
		    	<td class="tableBtn">
		    		<button class="btn btn-info" (click)="edit(resident.id)">Edit</button>
		    		<button class="btn btn-danger" (click)="delete()">Delete</button>
		  		</td>
		  	</tr>
		</tbody>
	</table>
</div>