.residentList{
	background-color: rgba(255,255,255,0.8);
	padding: 2%;
}

nav img{
	width: 100px;
	margin: 20px 0;
}

.green{
	background-color: rgba(195, 230, 203, 0.5);
	color: green;
	font-weight: bold;
}

.red{
	background-color: rgba(237, 150, 158, 0.5);
	color: #8B0000;
	font-weight: bold;
}

.newResBtn{
	text-align: right;
	margin: 10px;
}

td, th{
	vertical-align: middle;
}

.tableBtn{
	text-align: center;
}

.tableBtn button{
	margin: 1px 5px;
}