<nav class="row justify-content-between align-items-center">
	<a href="/staff"><img src="../../assets/eden-logo.png" alt="eden-logo"></a>
	<div>
		<button class="btn btn-danger" routerLink="/login">Logout</button>
	</div>
</nav>

<div class="buttons row">
	<div class="col-md-6 h-100">
		<button type="button" class="btn btn-info">ADD/EDIT/DELETE<br>RESIDENT</button>
	</div>
	<div class="col-md-6 h-100">
		<button type="button" class="btn btn-info">ADD/EDIT/DELETE<br>STAFF</button>
	</div>
</div>
