nav img{
	width: 100px;
	margin: 20px 0;
}

.basicInfo{
	border-radius: 40px;
	background-color: white;
}

.content{
	background: white;
	padding: 30px;
	border-radius: .25rem;
}

.vital-signs{
	height: 150px;
}

.residentDetails img{
	width: 100%;
}

.green{
	background-color: rgba(195, 230, 203, 0.5);
	color: green;
	font-weight: bold;
}

.red{
	background-color: rgba(237, 150, 158, 0.5);
	color: #8B0000;
	font-weight: bold;
}